[submodule "quotes-service"]
	path = quotes-service
	url = git@github.com:adamzwickey/quotes-service.git
[submodule "web-ui"]
	path = web-ui
	url = git@github.com:adamzwickey/web-ui.git
[submodule "accounts-service"]
	path = accounts-service
	url = git@github.com:adamzwickey/accounts-service.git
[submodule "portfolio-service"]
	path = portfolio-service
	url = git@github.com:adamzwickey/portfolio-service.git
